<!-- <p>펜션 소개</p> -->
<div class="top">
  <div #Header class="header">
    <p>어서오세요</p>
    <p>능운대펜션 입니다</p>
  </div>
  <img
    #TopImage
    (load)="updateTextPosition()"
    src="/assets/panel.jpg"
    art="pension-main"
  />
</div>
<div class="section">
  <p class="section-title">능운대 펜션</p>
  <div class="section-description">
    <p>
      안녕하세요. 화양계곡에서 40년을 함께한 능운대지기입니다.<br />
      능운대 펜션은 여행객들을 위해 만든 국립 공원 내 숙박 공간입니다.
    </p>
    <p>
      언제나 숲과 계곡이 함께하는 펜션 시설과,<br />
      산에서 구한 신선한 음식들을 준비하고 있습니다.
    </p>
    <p>자연의 소리와 쏟아지는 별을 감상하러 오세요.</p>
  </div>
</div>

<BBQ></BBQ>
<facilities></facilities>
<map></map>
