<div class="about">
  <!-- <p>펜션 소개</p> -->
  <div class="main-container">
    <div class="title">
      <p>어서오세요</p>
      <p>능운대펜션 입니다</p>
    </div>
    <img src="/assets/panel.jpg" />
  </div>
  <!-- <img class="pension" src="/assets/pension.jpg" /> -->
  <p>계곡 소개</p>
  <div class="valley-container">
    <div class="valley-box">
      <!-- <img src="/assets/valley1.jpg" />
      <img src="/assets/valley2.jpg" />
      <img src="/assets/valley3.jpg" />
      <img src="/assets/valley4.jpg" />
      <img src="/assets/valley5.jpg" /> -->
    </div>
  </div>
  <p>오시는 길</p>
</div>
