<div class="top">
  <div class="header">
    <p>평상엔 눕고</p>
    <p>불판엔 굽고</p>
    <p>계곡엔 고고</p>
  </div>
  <div class="slider-board">
    <div
      class="slider-img"
      [ngStyle]="{ 'background-image': 'url(' + images[currentIndex] + ')' }"
    ></div>
  </div>
  <div class="slider-bottom">
    <div
      *ngFor="let image of images; let i = index"
      class="slider-thumb"
      [ngClass]="{ active: i == currentIndex }"
      (click)="onSliderThumbClick(i)"
    ></div>
  </div>
</div>
<div class="body">
  <p class="description-title">능운대 평상 대여 안내</p>
  <div class="description-list">
    <p>계곡을 즐기기 위한 모든 것들을 제공하며, 취사가 가능합니다.</p>
    <p [style.text-align]="'center'">(샤워실, 화장실, 선풍기, 취사시설 등)</p>
  </div>

  <div class="causion">
    <p [style.text-decoration]="'underline'">
      ※ 평상 서비스는 예약 취소 시 환불이 어렵습니다.
    </p>
    <p>※ 평상 예약 시, 화양 공원 내 차량 등록 도와드립니다.</p>
    <p>※ 불판+가스레인지 대여비는 10,000원이며, 가져오셔도 됩니다.</p>
  </div>

  <p class="description-title">운영시간</p>
  <div class="description-list">
    <p>오전 9시 ~ 오후 5시</p>
  </div>

  <p class="description-title">대여비</p>
  <div class="description-list">
    <p [style.text-align]="'center'">50,000원 (4인 기준)</p>
    <p>※ 1인 추가 시 10,000원 별도</p>
    <p>※ 최대 인원은 6명입니다.</p>
  </div>
</div>
