<div class="slider-container">
  <div class="header">
    <p>오시는 길</p>
  </div>
  <div class="slider-board">
    <div
      class="slider-img"
      [ngStyle]="{ 'background-image': 'url(/assets/map-introduce.jpg)' }"
    ></div>
  </div>
</div>
<div class="section">
  <p class="section-title">오시는 길</p>

  <p [style.text-align]="'center'">
    충청북도 괴산군 청천면 화양동길 247 <br />
    ​검색창에 "능운대펜션", "능운대휴게소"를 검색하세요
  </p>
  <div class="map-img">
    <img src="/assets/map.jpg" art="map" />
  </div>

  <div class="section-description">
    <p>
      <span>서울에서 중부고속도로 이용 시</span><br />
      서울 → 동서울톨게이트 → 중부고속도로 → 호법분기점 직진 일죽 I/C 지나 →
      중부고속도로 음성, 진천 → 증평I/C → 증평읍내 → 592번 지방도로(청안면 방면)
      → 질마재 → 부흥사거리 → 금평삼거리(좌회전) → 화양1교, 2교, 3교 →
      능운대휴게소
    </p>
    <p>
      <span>서울/경기인천에서 영동고속도로&중부고속도로 이용 시</span><br />
      외곽순환고속도로 → 시흥요금소 → 인천분기점 → 조남분기점에서 서해안고속도로
      서산 목표 방면 → 서서울요금소 → 안산분기점에서 영동고속도로 용인 강릉방면
      → 동군포, 의왕, 북수원 → 신갈분기점 직진 → 마성, 용인, 양지 →
      호법분기점에서 중부고속도로 대전 방면으로 운행 → 음성, 진천 → 증평I/C →
      증평읍내 → 592번 지방도로(청안면 방면) → 질마재 → 부흥사거리 →
      금평삼거리(좌회전) → 화양1교, 2교, 3교 → 능운대휴게소
    </p>
    <p>
      <span>중부내륙 괴산IC 이용시</span><br />
      괴산 I/C에서 빠져서 → 괴산읍 → 대사삼거리 → 문광삼거리 → 괴산고방향
      19번국도 → 부흥사거리 → 금평사거리 → 화양1교, 2교, 3교 → 능운대휴게소
    </p>
  </div>
</div>
