@import "/src/styles.scss";

.bottom-bar {
  margin-top: 3rem;
  padding: 2rem 3rem;
  display: flex;
  background-color: gray;

  .tel {
    display: flex;
    padding: 1rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      @include font-title;
    }
  }

  .information {
    border-left: 1px solid #f9ebe4;
    padding: 1rem 0 1rem 3rem;

    p {
      @include font-small;
    }

    p.copyright {
      opacity: 0.5;
    }
  }

  .logo {
    width: 10%;
  }
}

@media only screen and (max-width: 640px) {
  .bottom-bar {
    padding: 2rem 1rem 1rem 1rem;
    display: block;

    .tel {
      display: block;
      padding: 0rem;
      margin-right: 0rem;
      text-align: left;
    }

    .information {
      margin-top: 2rem;
      border-left: 0;
      padding: 0;
    }
  }
}
