<div class="review">
  <div class="title">
    <p>베스트 리뷰를 소개합니다</p>
  </div>
  <div class="content">
    <button class="move left" (click)="move(true)">왼쪽</button>
    <button class="move right" (click)="move(false)">오른쪽</button>
    <div class="reviews" #reviews>
      <div
        class="review2"
        (mouseenter)="onMouseEnter(1)"
        (mouseleave)="onMouseOut(1)"
      >
        <a
          *ngIf="hover[1]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review2"
        (mouseenter)="onMouseEnter(1)"
        (mouseleave)="onMouseOut(1)"
      >
        <a
          *ngIf="hover[1]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review2"
        (mouseenter)="onMouseEnter(1)"
        (mouseleave)="onMouseOut(1)"
      >
        <a
          *ngIf="hover[1]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review2"
        (mouseenter)="onMouseEnter(1)"
        (mouseleave)="onMouseOut(1)"
      >
        <a
          *ngIf="hover[1]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review1"
        [style.min-width.px]="widthReview1"
        [style.height.px]="heightReview1"
        (mouseenter)="onMouseEnter(1)"
        (mouseleave)="onMouseOut(1)"
      >
        <a
          *ngIf="hover[1]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review1"
        [style.min-width.px]="widthReview1"
        [style.height.px]="heightReview1"
        (mouseenter)="onMouseEnter(2)"
        (mouseleave)="onMouseOut(2)"
      >
        <a
          *ngIf="hover[2]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review1"
        [style.min-width.px]="widthReview1"
        [style.height.px]="heightReview1"
        (mouseenter)="onMouseEnter(3)"
        (mouseleave)="onMouseOut(3)"
      >
        <a
          *ngIf="hover[3]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review1"
        [style.min-width.px]="widthReview1"
        [style.height.px]="heightReview1"
        (mouseenter)="onMouseEnter(4)"
        (mouseleave)="onMouseOut(4)"
      >
        <a
          *ngIf="hover[4]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
      <div
        class="review1"
        [style.min-width.px]="widthReview1"
        [style.height.px]="heightReview1"
        (mouseenter)="onMouseEnter(5)"
        (mouseleave)="onMouseOut(5)"
      >
        <a
          *ngIf="hover[5]"
          href="https://blog.naver.com/vhfpqj327/222791258320"
        >
          자세히 살펴보기
        </a>
        <div class="img"></div>
        <div class="description">
          <p>
            " 완벽했던 하루의 화양계곡펜션❤<br />능운대펜션은 식당과
            평상운영까지 같이 하고있어요! "
          </p>
          <p>2022.06.29 방문</p>
        </div>
      </div>
    </div>
  </div>
</div>
