<div class="review">
  <div class="title">
    <p>베스트 리뷰를 소개합니다</p>
  </div>
  <div class="move-container">
    <div
      class="move left"
      [class.disabled]="disabledLeftButton"
      (click)="move(true)"
    ></div>
    <div
      class="move right"
      [class.disabled]="disabledRightButton"
      (click)="move(false)"
    ></div>
    <div class="content">
      <div class="reviews" #reviews>
        <div
          class="review-box"
          [style.min-width]="reviewBoxWidth"
          *ngFor="let review of ReviewList; let index = index"
          (mouseenter)="review.hover = true"
          (mouseleave)="review.hover = false"
        >
          <a *ngIf="review.hover" href="review.href"> 자세히 살펴보기 </a>
          <div
            class="img"
            [ngStyle]="{ 'background-image': 'url(' + review.img + ')' }"
          ></div>
          <div class="description">
            <p>{{ review.description }}</p>
            <p>{{ review.date }}</p>
            <p>{{ review.tag }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
