/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;

  div,
  button,
  p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
  }
}

$TopBarHeight: 64px;
$screenSidePadding: 3rem;

@mixin font-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
}

@mixin font-descrtipion {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
